* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}
  body {
  height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background: rgb(184, 107, 7);
}

#lina {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: auto;

    margin-left: 150px;
    margin-top: 10px;

    box-sizing: border-box;
    border-radius: 20px;

    z-index: 1;
}

header, footer {
  padding: 20px;
  border: 1px solid #000000;
  color: #141414;
}

.box {
    width: auto;
    height: auto;
    border: 3px solid rgb(0, 0, 0);
    background: rgb(235, 189, 152);
    margin-bottom: 20px;
    padding: 24px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: justify;
}

